.weather-detail {
	display: grid;
	gap: 2rem;
	grid-auto-rows: min-content;
	grid-template-columns: repeat(2, 1fr);
	height: auto;

	@for $i from 1 through 7 {
		.grid-#{$i} {
			grid-column: 1 / -1;
		}
	}

	@include responsive-min(mobile) {
		grid-template-columns: repeat(2, 1fr);

		.grid-2,
		.grid-3 {
			grid-column: unset;
		}
	}

	@include responsive-min(tablet) {
		grid-template-columns: repeat(3, 1fr);

		.grid-4 {
			grid-column: unset;
		}
	}

	& > * {
		height: auto;
		overflow: visible;
	}

	.card {
		display: flex;
		flex-direction: column;
		font-size: 1.6rem;
		gap: 3rem;
		padding: 2rem;
		width: 100%;

		&:has(.weather-alerts) {
			background-color: oklch(0.6 0.24 29.23);
			color: oklch(1 0 231.14);
		}

		h2 {
			font-size: 2.4rem;
			margin-bottom: 1rem;
		}

		.wi {
			aspect-ratio: 1 / 1;
			text-align: center;
			width: 1.4em;

			&.big {
				align-items: center;
				display: grid;
				font-size: 10rem;
				justify-self: center;
			}

			&.small {
				align-items: center;
				display: inline-grid;
				font-size: 2rem;
				vertical-align: middle;
			}
		}
	}

	.card:empty {
		display: none;
	}
}
