::-webkit-scrollbar {
	background: linear-gradient(to bottom, var(--color-bg-1), var(--color-bg-2));
	height: 0.8rem;
	width: 0.8rem;

	// Horizontal scrollbar
	&:horizontal {
		@extend ::-webkit-scrollbar;
	}

	// Vertical scrollbar thumb
	&-thumb {
		background-color: var(--color-scrollbar-thumb);
		border-radius: 1rem;

		// Horizontal scrollbar thumb
		&:horizontal {
			@extend ::-webkit-scrollbar-thumb;
		}
	}

	// Vertical scrollbar track
	&-track {
		background-color: transparent;

		// Horizontal scrollbar track
		&:horizontal {
			@extend ::-webkit-scrollbar-track;
		}
	}
}

// Firefox scrollbars
.scroll-container {
	scrollbar-color: var(--color-scrollbar-thumb) transparent;
	scrollbar-width: thin;
}
