header.header {
	backdrop-filter: blur(0.1rem);
	background-color: var(--header-background);
	border-bottom: 0.1rem solid var(--header-border);
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 2rem;
	justify-content: space-between;
	padding: 1.6rem 6rem;
	width: 100%;

	a {
		color: var(--color-text);
		h1 {
			font-size: 2.4rem;
			line-height: 1.5;
		}
	}
}
