footer.footer {
	align-items: center;
	backdrop-filter: blur(1rem);
	background-color: var(--footer-background);
	border-top: 0.1rem solid var(--footer-border);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 1ex;
	justify-content: center;
	padding: 1.6rem;
}
